<form (ngSubmit)="addEmployee(addForm)" #addForm="ngForm">
    <fieldset>
        <legend>Add Employee</legend>
        <div class="form">
            <p>Name:</p><input [(ngModel)]="newEmployee.name" name="emp_name" placeholder="Name" required>
        </div>
        <div class="form">
            <p>ID:</p><input [(ngModel)]="newEmployee.employee_id" name="emp_id" placeholder="ID" required>
        </div>
        <div class="form">
            <p>Email:</p><input [(ngModel)]="newEmployee.email" name="emp_email" placeholder="Email">
        </div>
        <div class="form">
            <p>Address:</p><input [(ngModel)]="newEmployee.nin" name="emp_nin" placeholder="Address">
        </div>
        <div class="form">
            <p>Starting Salary:</p><input [(ngModel)]="newEmployee.start_salary" name="emp_startsal" placeholder="Starting Salary">
        </div>
        <div class="form">
            <p>Bank Account No.:</p><input [(ngModel)]="newEmployee.bank_number" name="emp_bankn" placeholder="Bank Account No.">
        </div>
        <div class="form">
            <p>Sort Code:</p><input [(ngModel)]="newEmployee.bank_sort" name="emp_banks" placeholder="Sort Code">
        </div>
        <input type="submit" [disabled]="!addForm.valid">
    </fieldset>
</form>
<div *ngIf="addForm.hasError('required', 'emp_name')">Name is required</div>
<div *ngIf="addForm.hasError('required', 'emp_id')">ID is required</div>