.form{
    padding: 5 px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}
p {
    padding: 0px;
    margin: 5px;
}
.pretty:invalid {
    border-color: rgb(230, 65, 65);
    box-shadow: 5px 10px rgb(250, 143, 143);  
}

input, label {
    display:block;
}
.pretty{
    width: 30%;
    padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid grey;
  border-radius: 4px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

select.pretty {
  height: 50px;
}

.pretty:focus {
    border: 3px solid #555;
  }
  input[type=submit]{
    background-color: rgb(117, 115, 115);
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px;
    cursor: pointer;
    border-radius: 6px;
  }
  input[type=submit]:hover{
    background-color: darkgray;
  }
  input[type=submit]:disabled{
    background-color: rgb(233, 220, 220);

  }
  .error{
      font-size: 14px;
      color: red;
  }
  *:focus {
    outline: none;
}
.required{
    display: inline-block;
}
span{
    color: red;
}