<div class="department-filter">
    <span>Filter by department: </span>
    <select [(ngModel)]="selectedDepartment">
        <option value="" selected>All</option>
        <option *ngFor="let department of data.departments" value="{{department.department_id}}">{{department.department_name}}</option>
    </select>
</div>
<div>
    <li *ngFor=" let employee of data.employees | departmentFilter:selectedDepartment">
        <div>ID: {{employee.employee_id}}</div>
        <div>Name: {{employee.name}}</div>
        <div>Address: {{employee.address}}</div>
        <div>Email: {{employee.email}}</div>
        <div>Department: {{employee.department_name}}</div>
        <div *ngIf="employee.commission_rate != null">Commission: {{employee.commission_rate}}%</div>
        <div *ngIf="employee.total_sales != null">Total sales: {{employee.total_sales}}</div>
    </li>

</div>