<div>
    <span>Filter by department: </span>
    <select [(ngModel)]="selectedDepartment">
        <option value="" selected>All</option>
        <option value="Ann Devon">Ann Devon</option>
        <option *ngFor="let department of data.departments" value="{{department}}">{{department}}</option>
    </select>
</div>
<div>
    <li *ngFor=" let employee of data.employees | nameFilter:selectedDepartment">
        <div>
            Employee Id: {{employee.employee_id}}
        </div>
        <div>
            Employee Name: {{employee.name}}
        </div>
        <div>
            Employee Address: {{employee.address}}
        </div>
        <div>
            Employee email: {{employee.email}}
        </div>
    </li>

</div>